# contains compiled code -> classes and some data about where to save JAr after a clean build
build/

# contains library files for building executable jars afer compilation of project
dist/lib

# all test folders
test/

# all generated manifests
manifest.mf

/dist/